* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* DADOS  PESSOAIS */
.containerDadosPessoais {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 1rem;
}

.icones {
  margin: 0 0.25rem;
  color: rgb(184, 141, 77);
}

.detalhes {
  display: flex;
  align-items: center;
  /* background-color: rgb(212, 188, 235); */
  padding: .5rem 0;
  margin: .25rem 0;
  font-size: 1.25rem;
}

hr {
  background-color: rgb(37, 85, 175);
  width: 100%;
  height: auto;
}


/* SKILLS */
.skillsContainer {
  margin:  0;
  padding: 0 1rem;
}

.skills-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills-conteudo {
  margin: 1rem;
  padding: .25rem;
}

.corSkill {
  background-color:  rgb(184, 141, 77);
}


/* CURSOS */
.cursosContainer {
  margin: .5rem 1rem;
  padding: 0;
}

.cursosChilden{
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  margin: 0 .5rem;
  padding: 0;
}

.cursos-titulo {
  font-size: 1.25rem;
}

.cursos-texto {
  margin: .25rem;
  padding: 0 .25rem;
  font-size: .825rem;
}

.btn-certificado {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(184, 141, 77);
  text-decoration: none;
  margin: .25rem 1.3rem 1rem 1.3rem;
  border-radius: .7rem;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 400;
}


/* PROJETOS */
.titulo-projetos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem .5rem;
}

.p-projetos {
  font-size: 1.25rem;
}


/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(172, 40, 190, 0.418);
  padding: .5rem 0 .25rem 0;

}

.copy {
  font-size: 1rem;
  margin-right: .15rem;
}

.texto-copy{
  font-size: .875rem;
}

.reg {
  font-size: .675rem;
  margin-left: .675rem;
}

.ano-footer {
  font-size: .765rem;
  margin-left: .1rem;
}